.env
.env.*
data/processed/parsed/ZCompanyLLC/*
data/processed/chunks/ZCompanyLLC/*
data/processed/vector_store_expt/*
data/processed/vector_store/*
.venv
.vscode
src/rag_platform.egg-info
.pytest_cache
.ruff_cache
